[Unit]
Description=Sniproxy (Max Performance - Root)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
ExecStart=/usr/sbin/sniproxy -c /etc/mich.conf
Restart=always
RestartSec=1s

# Performance Limits
LimitNOFILE=65535
LimitNPROC=65535
LimitCORE=infinity
LimitMEMLOCK=65535
LimitSTACK=8192K
LimitAS=infinity

[Install]
WantedBy=multi-user.target
